html {
    height: 100%;
}

body {
    direction: rtl;
    text-align: right;
    min-height: 100%;
}

h1 {
    text-align: right;
    margin: 2% 3%;
}

.notContainer {
    margin-top: 2%;
    padding-bottom: 50px;
    height: 100vh;
}


.countTooltip {
    text-align: left;
    float: left;
    display: block;
}

#itemIMG {
    width: 120px;
    height: 97px;
    margin: 113px 131px 13px 9px;
    float: right;
    border: 0;
}

#instructions {
    width: 100%;
    text-align: right;
    margin-left: 165px;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 20px;
}


#updating input {
    margin-top: 16px;
    margin-right: -32px;
    margin-left: 32px;
}

#infospace {
    margin-bottom: 2%;
}

    #infospace div {
        display: inline;
        margin: 0 3%;
        text-align: right;
    }

#ansRBL {
    text-align: center;
    /* margin-top: -55px; */
    float: right;
}

    #ansRBL td {
        text-align: center;
        padding-left: 46px;
    }

    #ansRBL label {
        display: table;
        width: 170px;
        position: relative;
    }

.btn, container {
    margin: 0 auto;
}

#ducky {
    background-image: url(../images/ducky-edit.png);
    background-size: 100%;
    width: 381.29px;
    height: 269px;
    float: right;
    background-repeat: no-repeat;
}

#myEdit {
    width: 81%;
}

#itemTB {
    margin-top: 41%;
    margin-left: 43px;
    width: 147px;
    height: 90px;
    text-align: center;
    border: 0;
}

#LabelCounter3, itemUpdateButton {
    margin-left: 15%;
}

#buttons {
    /*width: 331.6px;*/
    width: 381.29px;
    margin: 0 auto;
    /* margin-top: 170px; */
}

#itemUpdateButton, #itemCancelButton {
    display: inline;
    margin-top: 2%;
    width: 47%;
    /* margin: 1% 5% 0 5%; */
    text-align: center;
    margin-bottom: 50px;
}

#ItemAddButtonIMG, #ItemAddButtonTXT {
    display: block;
    margin-top: 2%;
    width: 40%;
    margin-bottom: 50px;
}



.checks {
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 1em; */
}

    .checks div {
        padding: 1%;
        display: block;
        text-align: right;
    }

    .checks span {
        text-align: right;
    }

    .checks .fas, .checks .fa {
        padding: 0 1%;
    }

#totalAnswers {
    text-align: center;
    width: 665px;
    font-weight: 500;
    margin-right: 41%;
    margin-left: 41%;
}

.datalistItem {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    margin: 3px 0px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: #dae3f3ff;
}

    .datalistItem img {
        margin: 5px;
    }

#DataListCorrect, #DataListIncorrect {
    /* margin: 0 25px; */
    width: 332.5px;
    text-align: center;
}

.tHeaders {
    display: block;
}

/*הגדרות לחלון האפור*/
#grayWindows {
    background-color: rgba(128, 128, 128,0.5);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}


/*הגדרות לחלון הפופ-אפ*/

.PopUpBackground {
    width: 100%;
    height: 110vh;
    /* margin-right: -59px; */
    top: 0px;
    background-color: #6262624a;
    position: absolute;
    margin: auto;
}

.PopUp {
    position: fixed;
    position: absolute;
    background-color: rgb(255, 255, 255);
    Left: 50%;
    Top: 50%;
    width: 30%;
    border: 0.5px solid #000000;
    z-index: 9;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
}

    .PopUp #Label3 {
        display: block;
        font-weight: 700;
        text-align: center;
        left: 50%;
        Top: 50%;
        padding: 1%;
        z-index: 9;
        margin: 0 auto;
    }

/*הגדרות לכפתור היציאה*/
.Exit {
    display: inline-block;
    width: 35%;
    height: 30px;
    display: inline;
    text-align: center;
    left: 50%;
    Top: 50%;
    border: 3px solid #f1f1f133;
    z-index: 9;
    margin: 2%;
    cursor: pointer;
}

    .Exit:last-of-type {
        background-color: red;
        cursor: pointer;
    }


    .Exit:first-of-type {
        cursor: pointer;
        background-color: greenyellow;
    }

    .Exit:hover {
        background-color: #ccc;
    }

/*העלמת פקדי העלאת תמונה*/
#FileUpload1, #FileUploadWrong {
    visibility: hidden;
    display: none;
    width: 1px;
}

/*קביעת גודל לתמונות*/
#ImageforUpload1, #ImageforUploadWrong {
    width: 150px;
    height: 150px;
}

#ItemAddButtonIMG, #ItemAddButtonTXT {
    display: none;
}

#uploading {
    text-align: center;
    width: 381.29px;
}

    #uploading input {
        margin: 0 auto;
        text-align: center;
    }



/*=======================================================*/

body {
    /*background-color: #C1EDFF;*/
    /*background-color: white;*/
    background-color: #e9e5ca4f;
    font-family: 'Assistant', sans-serif;
}

iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



#gameArea {
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
}

.hide {
    display: none;
}

.topnav-right {
    float: right;
}

.topnav-righ p {
    display: inline;
}

.myNavigation {
    background-color: rgb(221, 242, 247);
    overflow: hidden;
}

/*לוגו*/
#logo {
    width: 20px;
    height: 20px;
    display: inline-block;
    direction: rtl;
    margin-top: -5px;
}

.myNavigation a {
    float: left;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 1em;
}



    .myNavigation a:hover {
        background-color: #ddd;
        color: black;
        font-weight: 600;
        cursor: pointer;
        font-family: 'Assistant', sans-serif;
        text-decoration: none;
    }

    .myNavigation a.active {
        background-color: #4CAF50;
        color: white;
    }

    .myNavigation a img {
        text-decoration: none
    }

.forNav .popUp {
    background-color: white;
    width: 400px;
    position: fixed;
    top: 60px;
    z-index: 4;
    text-align: center;
    width: 700px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    border: 1px solid black;
}

.forNav .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.closeAbout, .closeHowToPlay {
    float: left;
}